---
http_interactions:
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/sync
    body:
      encoding: UTF-8
      string: commands=%5B%7B%22type%22%3A%22item_add%22%2C%22temp_id%22%3A%22d0f67eca-1597-445d-8fc5-bc61365d2ba1%22%2C%22uuid%22%3A%22bf0f48b9-158f-4b1b-89a9-6b5f152076a5%22%2C%22args%22%3A%7B%22project_id%22%3A2230497753%2C%22content%22%3A%22Added+by+rspec+%27adds+an+item+to+todoist+project%27%22%7D%7D%5D&resource_types%5B%5D=projects&resource_types%5B%5D=items&sync_token=%2A&token=650633c8efa78adb78a4646a50e7194a42ab00a1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sync_status":{"bf0f48b9-158f-4b1b-89a9-6b5f152076a5":"ok"},"temp_id_mapping":{"d0f67eca-1597-445d-8fc5-bc61365d2ba1":3785949144},"full_sync":true,"sync_token":"a9lf78o7ScivxdvJfsu69C2Jj1ZfV0pfMEO8LydEm0pKcqYpMM34lBHIwSKL4UTSov700hznUlhZDfZXrxdyJeMnnhGIrpwM1-Bkikl_A26U"}'
  recorded_at: Tue, 31 Mar 2020 09:04:04 GMT
[...]
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/sync
    body:
      encoding: UTF-8
      string: commands=%5B%7B%22type%22%3A%22item_add%22%2C%22temp_id%22%3A%22f54d30cc-f5a0-4f57-941b-19a586974ded%22%2C%22uuid%22%3A%223b714e79-f1de-4e4d-81c4-105b6f65f070%22%2C%22args%22%3A%7B%22project_id%22%3A2230497753%2C%22content%22%3A%22Added+by+rspec+%27adds+an+item+to+todoist+project%27%22%7D%7D%5D&resource_types%5B%5D=projects&resource_types%5B%5D=items&sync_token=%2A&token=650633c8efa78adb78a4646a50e7194a42ab00a1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sync_status":{"3b714e79-f1de-4e4d-81c4-105b6f65f070":"ok"},"temp_id_mapping":{"f54d30cc-f5a0-4f57-941b-19a586974ded":3785954641},"full_sync":true,"sync_token":"Rg3oIxUHalA81e4xJ5zX2uGyzPAKNweMrRxDZCYUdp12KTwM9ALENIOoZczTCKALmcICw4Q0t-YIAxvWG7hRkcQf0WfBq0SQyjP3mse3DC35"}'
  recorded_at: Tue, 31 Mar 2020 09:06:59 GMT
recorded_with: VCR 5.1.0
