---
http_interactions:
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/projects/get_data
    body:
      encoding: UTF-8
      string: project_id=2230497753&token=650633c8efa78adb78a4646a50e7194a42ab00a1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"project":{"name":"Test Project","is_favorite":0,"color":48,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":1,"is_archived":0,"id":2230497753},"items":[{"is_deleted":0,"assigned_by_uid":null,"labels":[],"sync_id":null,"section_id":7489104,"in_history":0,"child_order":1,"date_added":"2020-03-03T15:28:43Z","id":3729723869,"content":"Hover
        over this task & click `(i)` to view its details","checked":0,"added_by_uid":27063118,"user_id":27063118,"collapsed":0,"due":null,"priority":1,"parent_id":null,"responsible_uid":null,"project_id":2230497753,"date_completed":null,"note_count":1},{"is_deleted":0,"assigned_by_uid":null,"labels":[],"sync_id":null,"section_id":7489104,"in_history":0,"child_order":1,"date_added":"2020-03-03T15:28:43Z","id":3729723895,"content":"You
        can add subtasks here! \u2705","checked":0,"added_by_uid":27063118,"user_id":27063118,"collapsed":0,"due":null,"priority":1,"parent_id":3729723869,"responsible_uid":null,"project_id":2230497753,"date_completed":null,"note_count":0},{"is_deleted":0,"assigned_by_uid":null,"labels":[],"sync_id":null,"secti[...]
[...]
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/sync
    body:
      encoding: UTF-8
      string: resource_types=%5B%22projects%22%5D&sync_token=%2A&token=91fb67be66349e808ba46022aa3c59d58ca71ecd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sync_token":"ujnbr8HzPEBrdlvei_4vwqEh9aNKooWjj98ZAX_jnj-EVQhipm9pnEOujPx1LVIllDXrN5Yxki2FQyYbnUqDbGHX4yK86eI4Muz-p5hfcuL8pA","temp_id_mapping":{},"full_sync":true,"projects":[{"is_favorite":0,"color":48,"collapsed":0,"inbox_project":true,"child_order":0,"id":2230412164,"name":"Inbox","is_deleted":0,"parent_id":null,"shared":false,"is_archived":0},{"name":"Welcome
        \ud83d\udc4b","is_favorite":0,"color":48,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":1,"is_archived":0,"shared":false,"id":2230412165},{"name":"Wunderlist
        Import","is_favorite":0,"color":47,"is_deleted":0,"collapsed":1,"parent_id":null,"child_order":2,"is_archived":0,"shared":false,"id":2230413138},{"name":"Les
        courses","is_favorite":0,"color":47,"is_deleted":0,"collapsed":0,"parent_id":2230413138,"child_order":1,"is[...]
