---
http_interactions:
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/sync
    body:
      encoding: UTF-8
      string: resource_types=%5B%22projects%22%5D&sync_token=%2A&token=650633c8efa78adb78a4646a50e7194a42ab00a1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"sync_token":"vy1pcgPjD4HfRixNQGJCPpi2ncCs8h4iAsEBIVwXAE_utCsCQCXNFe_lheJwQ2QMHspesvdrlAEF6PbgwTgddcvnUKN-JIrIy47Q6Dfg9PQe","temp_id_mapping":{},"full_sync":true,"projects":[{"is_favorite":0,"color":48,"collapsed":0,"inbox_project":true,"child_order":0,"id":2230497751,"name":"Inbox","is_deleted":0,"parent_id":null,"shared":false,"is_archived":0},{"name":"Test
        Project","is_favorite":0,"color":48,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":1,"is_archived":0,"shared":false,"id":2230497753}]}'
  recorded_at: Wed, 04 Mar 2020 06:04:57 GMT
recorded_with: VCR 5.1.0
