---
http_interactions:
- request:
    method: post
    uri: https://api.todoist.com/sync/v8/sync/
    body:
      encoding: UTF-8
      string: token=91fb67be66349e808ba46022aa3c59d58ca71ecd&resource_types=%5B%22projects%22%5D
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"sync_token":"b_ujqHL8yk1UT4SchUfBWH1t3keZY1a9-LlhqSHZ3YYeu_9dM3ifBBFSg6j3tGeMuymwl274NHT48LFtS5r5SI1cS6bV4PDa5QOMgdditjhW","temp_id_mapping":{},"full_sync":true,"projects":[{"is_favorite":0,"color":48,"collapsed":0,"inbox_project":true,"child_order":0,"id":2230412164,"name":"Inbox","is_deleted":0,"parent_id":null,"shared":false,"is_archived":0},{"name":"Welcome
        \ud83d\udc4b","is_favorite":0,"color":48,"is_deleted":0,"collapsed":0,"parent_id":null,"child_order":1,"is_archived":0,"shared":false,"id":2230412165},{"name":"Wunderlist
        Import","is_favorite":0,"color":47,"is_deleted":0,"collapsed":1,"parent_id":null,"child_order":2,"is_archived":0,"shared":false,"id":2230413138},{"name":"Les
        courses","is_favorite":0,"color":47,"is_deleted":0,"collapsed":0,"parent_id":2230413138,"child_order":1,"is_archived":0,"shared[...]
